@font-face {
    font-family: "Amandita";
    src: url("../fonts/Amandita.ttf");
}
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
*{
    font-family: 'Roboto Slab', serif;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#navbar{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: rgba(255, 255, 255, 0.8);
}
#navbar img{
    width: 7em;
    height: 7em;
    margin-left: 2.5em;
}
#navbar ul{
    margin-right: 4em;
    white-space: nowrap;
}
#navbar ul li{
    display: inline;
    margin-right: 2em;
}
#navbar>ul>li>a{
    text-decoration: none;
    color: #1B264F;

}
#navbar>ul>li>a.active{
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
    #navbar {
        justify-content: space-around;
    }
}
@media screen and (max-width: 520px) {
    #navbar {
        font-size: 15px;
    }
}
@media screen and (max-width: 490px){
    #navbar{
        font-size: 12px;
    }
}
@media screen and (max-width: 400px){
    #navbar ul {
        padding-left: 20px;
    }
}
@media screen and (max-width: 370px){
    #navbar ul {
        font-size: 10px;
        padding-left: 10px;
    }
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main h1 {
    margin: 0;
    color: #274690;
    font-size: 60px;
}
#main h3 {
    margin: 0;
    color: #1B264F;
    font-size: 50px;
}
article:nth-of-type(odd){
    background-color: #eff3fa
}
.sec-container{
    width: 100%;
    overflow: auto;
    padding-bottom: 10px;
}
.sec-container>h2 {
    color: #1B264F;
    font-size: 40px;
    margin-top: 0;
    margin-left: 1em;
}